@font-face {
  font-family: "Latin Modern SC";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/lmromancaps10-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Latin Modern SC";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/lmromancaps10-oblique-webfont.woff") format("woff");
}

@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/LM-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/LM-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/LM-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/LM-bold-italic.woff2") format("woff2");
}



html {
  font-size: 12pt;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }
}

body {
  font-family: 'Latin Modern', serif;
  background-color: gray;
}

.content {
  background-color: white;
  margin-right: 15vw;
  margin-left: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

header {
  margin-top: 2.5vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

main {
  margin-top: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  margin-top: 3rem;
  margin-bottom: 2.5vh;
  padding-bottom: 2.5vh;
  font-size: 0.75rem;
  text-align: center;
}

footer > button {
  font-family: "Latin Modern";
  font-size: 0.75rem;
  color: blue;
  background-color: white;
  border: none;
  outline: none;
}

footer > button:hover {
  color: darkblue;
}

.class {
  margin-top: 0;
  margin-bottom: 0;
}