{{ define "main" }}
<h2>The Plan</h2>
<div
  id="gr_challenge_11634"
  style="
    border: 2px solid #ebe8d5;
    border-radius: 10px;
    padding: 0px 7px 0px 7px;
    max-width: 230px;
    min-height: 100px;
  "
>
  <div
    id="gr_challenge_progress_body_11634"
    style="font-size: 12px; font-family: georgia, serif; line-height: 18px"
  >
    <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
      <a
        style="
          text-decoration: none;
          font-family: georgia, serif;
          font-style: italic;
          font-size: 1.1em;
        "
        rel="nofollow"
        href="https://www.goodreads.com/challenges/11634-2024-reading-challenge"
        >2024 Reading Challenge</a
      >
    </h3>
    <div class="challengePic">
      <a
        rel="nofollow"
        href="https://www.goodreads.com/challenges/11634-2024-reading-challenge"
      >
        <img
          alt="2024 Reading Challenge"
          style="float: left; margin-right: 10px; border: 0 none"
          src="https://images.gr-assets.com/challenges/1701888414p2/11634.jpg"
        />
      </a>
    </div>
    <div>
      <a
        rel="nofollow"
        href="https://www.goodreads.com/user/show/160780291-ghassan-shahzad"
        >Ghassan</a
      >
      has read 0 books toward his goal of 40 books.
    </div>
    <div
      style="
        width: 100px;
        margin: 4px 5px 5px 0;
        float: left;
        border: 1px solid #382110;
        height: 8px;
        overflow: hidden;
        background-color: #fff;
      "
    >
      <div style="width: 0%; background-color: #d7d2c4; float: left">
        <span style="visibility: hidden">hide</span>
      </div>
    </div>
    <div
      style="font-family: arial, verdana, helvetica, sans-serif; font-size: 90%"
    >
      <a
        rel="nofollow"
        href="https://www.goodreads.com/user_challenges/49576581"
        >0 of 40 (0%)</a
      >
    </div>
    <div style="text-align: right">
      <a
        style="text-decoration: none; font-size: 10px"
        rel="nofollow"
        href="https://www.goodreads.com/user_challenges/49576581"
        >view books</a
      >
    </div>
  </div>
  <script src="https://www.goodreads.com/user_challenges/widget/160780291-ghassan-shahzad?challenge_id=11634&amp;v=2"></script>
</div>
<p>
  A new year means a new reading plan. I'm not one for a New Years' Resolution,
  and this is assuredly not that. It's more of a general set of goals. Last
  year, I set 50 books as my GoodReads goal and failed miserably. This time,
  I've tempered my expectations (25 books) and revised my method to get through
  books quicker. I don't expect to succeed completely, but if I can get close
  then I'll be happy. Most people are setting close to 50 books for their goals,
  but don't be fooled: if they do achieve these goals, it'll mostly be fictional
  'slop' (your young adult novels, and such), and other light reads.
</p>

<p>
  That's the amount of books, but this year I'd also like to split these 25
  books into various genres and topics that I'd like to learn more about. Like I
  said, if you read light books (I don't), then you will easily exceed your
  goals, and if you read heavy books, you'll fall short. By planning my reads
  ahead of time, and handpicking each book, I can hopefully achieve my goals
  with more success. This is more around 30 books, but I plan to carry some
  reads over to the next year, and the bolded ones are priority.
</p>

<p>So, here they are (in no particular order):</p>

<ul>
  <li>
    Game Theory
    <ul>
      <li><strong>Game Theory: A Nontechnical Introduction</strong></li>
      <li>
        <strong
          >Prisoner&#39;s Dilemma: John von Neumann, Game Theory, and the Puzzle
          of the Bomb</strong
        >
      </li>
      <li><strong>The Art of Strategy</strong></li>
      <li>Theory of Games and Economic Behavior</li>
    </ul>
  </li>
  <li>
    Economics
    <ul>
      <li><strong>Edible Economics</strong></li>
      <li><strong>Basic Economics</strong></li>
      <li><strong>Capital in the Twenty-First Century</strong></li>
      <li><strong>Debt: The First 5,000 Years</strong></li>
      <li>The Road to Serfdom</li>
    </ul>
  </li>
  <li>
    Business Strategy
    <ul>
      <li>The McKinsey Way</li>
      <li><strong>Playing to Win: How Strategy Really Works</strong></li>
      <li><strong>Competitive Strategy</strong></li>
      <li>Your Strategy Needs a Strategy</li>
      <li>Competitive Advantage</li>
      <li><strong>Blue Ocean Strategy</strong></li>
    </ul>
  </li>
  <li>
    Philosophy
    <ul>
      <li><strong>The Prince</strong></li>
      <li>
        <a href="/docs/phil/histories/storyofphilosophy/"
          ><strong>Story of Philosophy</strong></a
        >
      </li>
      <li><strong>Beyond Good and Evil</strong></li>
      <li><strong>Man&#39;s Search for Meaning</strong></li>
      <li>Plato&#39;s Works</li>
    </ul>
  </li>
  <li>
    Mathematics
    <ul>
      <li>
        (see: <a href="https://ghassbomb.github.io/maths-track">Maths Track</a>)
      </li>
    </ul>
  </li>
  <li>
    Management
    <ul>
      <li>The Goal</li>
      <li><strong>Good to Great</strong></li>
      <li>High Output Management</li>
      <li><strong>The Effective Executive</strong></li>
      <li>Leading Change</li>
    </ul>
  </li>
  <li>
    General Business &amp; Finance
    <ul>
      <li><strong>Principles</strong></li>
      <li><strong>The Psychology of Money</strong></li>
      <li><strong>The Black Swan</strong></li>
      <li>Financial Intelligence</li>
    </ul>
  </li>
  <li>
    Investing
    <ul>
      <li>
        <a href="docs/biz/investing/thelittlebook/"
          ><strong>The Little Book of Common-Sense Investing</strong></a
        >
      </li>
      <li>
        <a href="./docs/biz/investing/theintelligentinvestor/"
          ><strong>The Intelligent Investor</strong></a
        >
      </li>
    </ul>
  </li>
  <li>
    Computer Science
    <ul>
      <li>
        (see: <a href="https://ghassbomb.github.io/cs-track">CS Track</a>)
      </li>
    </ul>
  </li>
</ul>

<h2>The Brief</h2>

<p>When I read certain types of books, I try to read them in such a way that I will remember them for as long as possible, and I'm sure this is true of everyone. I mean, who doesn't want an encyclopaedia for a brain? Problem: my memory is horrible! After a bunch of digging around, messing around, reading (books and articles), I've found one method that works for me: detailed note-taking.</p>

<p>As I read a book, I summarize the contents of what I've read post-chapter, post-subchapter, post-part, etc.; the timing varies depending on the organization of the book. For instance, if the lowest level of a books' structure is a subchapter, then I will read through the book, one subchapter at a time, and then summarize the contents of that subchapter. I will do this entirely from memory and understanding. Once done, I will run through the subchapter to make sure I got everything right, edit the summary accordingly, and voila! Not only is this an active method for remembering book content, I can also <em>revise</em> these shortened, summarized notes at a later date to make sure they stick. If you paired this routine with an Anki-style spaced repetition programme, you might just become a super-genius.</p>

<p>This blog contains these notes.</p>

{{ end }}
